@import "tailwindcss";

@theme {
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);

  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
}

@layer utilities {
  text-preset-1 {
    font-family: var(--font-fraunces);
    font-weight: 700;
    line-height: 100%;
    font-size: 32px;
    letter-spacing: 0px;
  }

  text-preset-2 {
    font-family: var(--font-montserrat);
    font-weight: 700;
    line-height: 110%;
    font-size: 14px;
    letter-spacing: 0px;
  }

  text-preset-3 {
    font-family: var(--font-montserrat);
    font-weight: 500;
    line-height: 160%;
    font-size: 14px;
    letter-spacing: 0px;
  }

  text-preset-4 {
    font-family: var(--font-montserrat);
    font-weight: 500;
    line-height: 120%;
    font-size: 12px;
    letter-spacing: 5px;
  }

  text-preset-5 {
    font-family: var(--font-montserrat);
    font-weight: 500;
    line-height: 120%;
    font-size: 13px;
    letter-spacing: 0px;
  }
}

body {
  background: var(--color-cream);
  color: var(--color-grey);
  font-family: var(--font-montserrat);
}
